* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.5;
	font-family: "DM sans", sans-serif;
}

.header {
	background-color: #d6e2d9;
}

.footer {
	padding: 10px;
	min-height: 100px;
	background-color: #d6e2d9;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	min-height: 50px;
}

.header-logo {
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}

.portfolio-link {
	text-decoration: none;
	color: #323232;
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 0;
	list-style-type: none;
}

.nav-link {
	padding: 0 20px;
	text-decoration: none;
	line-height: 50px;
	font-weight: 600;
	color: #323232;
	transition: all 0.2s;
}

.nav-item:hover {
	transform: scale(1.2);
	transition: all 0.2s;
}

.nav-link:hover {
	color: #ffffff;
}

